version: '3.8'

services:
  backend:
    image: ${DOCKER_REGISTRY_USER}/sheets-backend:20260119
    restart: always
    expose:
      - "5000"
    env_file:
      - .env

  frontend:
    image: ${DOCKER_REGISTRY_USER}/sheets-frontend:20260119
    restart: always
    expose:  # Add this to expose 8501 internally
      - "8501"
    depends_on:
      - backend
    env_file:
      - .env

  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"  # For HTTPS; configure certs below
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - frontend
      - backend

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot

  certbot-renew:
    image: certbot/certbot
    command: renew --webroot -w /var/www/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    restart: unless-stopped
