version: '3.8'

services:
  backend:
    image: ${DOCKER_REGISTRY_USER}/tables-alive-backend:latest
    restart: always
    expose:
      - "5000"
    env_file:
      - .env

  frontend:
    image: ${DOCKER_REGISTRY_USER}/tables-alive-frontend:latest
    restart: always
    ports:
      - "80:8501"
    depends_on:
      - backend
    env_file:
      - .env
