version: '3.8'
services:
  backend:
    build: ./backend
    container_name: sheets-backend
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
  frontend:
    build: ./frontend
    container_name: sheets-frontend
    env_file:
      - .env
    ports:
      - "8501:8501"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
